<ion-view view-title="{{ 'app.settings.password.PASSWORD_TAG' | translate }}">

  <ion-nav-buttons side="secondary">
    <button class="button button-clear" ng-click="save()">{{ "app.common.SAVE_TAG" | translate }}</button>
  </ion-nav-buttons>
  <!--
  <ion-nav-title>
    <h1 class="title">{{ pageTitle }}</h1>
  </ion-nav-title>
  <ion-nav-title>
    <h1 class="title">{{ "app.settings.password.PASSWORD_TAG" | translate }}</h1>
  </ion-nav-title>
  -->
  
  <ion-content>
    <form novalidate>

      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-locked placeholder-icon"></i>
          <input type="password" style="font-family: Helvetica;" placeholder="{{ 'app.settings.password.INPUT_ORIGIN_PASSWORD_TAG' | translate }}" ng-model="password.old" />
        </label>
      </div>
      
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-locked placeholder-icon"></i>
          <input type="password" style="font-family: Helvetica;" placeholder="{{ 'app.settings.password.INPUT_NEW_PASSWORD_TAG' | translate }}" ng-model="password.new0" />
        </label>
      </div>

      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-locked placeholder-icon"></i>
          <input type="password" style="font-family: Helvetica;" placeholder="{{ 'app.settings.password.INPUT_NEW_PASSWORD_AGAIN_TAG' | translate }}" ng-model="password.new1" />
        </label>
      </div>

    </form>
  </ion-content>
</ion-view>
