<ion-view view-title="">
    
  <ion-content class="yv-user-detail" scroll="false">
    
    <div class="yv-contact-tip" ng-if="!contact.uuid">
      <div class="tip-content">
        <div class="tip-icon icon ion-ios-people"></div>
        <p class="tip-note">
          {{ "app.GLOBAL.NO_CONTACT_SELECTED" | translate }}
        </p>
      </div>
    </div>
    
    <div class="detail-outer" ng-if="contact.uuid">
      <img ng-src="{{ getIcon() }}">
      <div class="detail-inner">
        <h4 class="fullname">{{ contact.fullname }}</h4>
        <p class="signature">{{ contact.signature }}<p>
        <div class="button button-balanced chat-button" ng-click="chatWithContact()">
          {{ "app.detailInfo.CHAT_WITH_USER_TAG" | translate }}
        </div>
      </div>
    </div>
    
  </ion-content>
  
</ion-view>
