<ion-view view-title="{{ 'noapp.addServer.ADD_SERVER_TAG' | translate }}">
  
  <ion-nav-buttons side="secondary">
    <button class="button ion-checkmark button-clear" ng-disabled="addDisabled" ng-click="add(server)"></button>
  </ion-nav-buttons>
  
  <ion-content has-header="true">
    <form novalidate>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" style="font-family: Helvetica;" placeholder="{{ 'noapp.addServer.INPUT_SERVER_NAME_TAG' | translate }}" ng-model="server.name" />
        </label>
      </div>
      <div class="list list-inset">
        <label class="item item-input">
          <input type="text" style="font-family: Helvetica;" placeholder="{{ 'noapp.addServer.INPUT_SERVER_IP_TAG' | translate }}" ng-model="server.host" />
        </label>
      </div>
      <div class="list">
        <div class="item item-checkbox" style="border: none;">
          <label class="checkbox">
            <input type="checkbox" ng-model="server.select" value="true" checked="checked" />
          </label>
          {{ "noapp.addServer.SET_DEFAULT_SERVER_TAG" | translate }}
        </div>
      </div>
    </form>
  </ion-content>
</ion-view>
