<ion-view id="loginnouser" view-title="{{ 'noapp.LOGIN_TAG' | translate }}">
  
  <ion-nav-buttons side="right">
    <div class="button icon ion-monitor button-clear" ui-sref="noapp.switch-server" ng-if="showServerButton()"></div>
  </ion-nav-buttons>
  
  <ion-content scrollbar-y="false" padding="true">
    <form novalidate ng-submit="deviceUserLogin()">
      <div class="list list-inset">
        <label class="item item-input">
          <i class="icon ion-ios-person placeholder-icon"></i>
          <input type="email" placeholder="{{ 'noapp.USEREMAIL_TAG' | translate }}" ng-model="user.user_email" name="useremail">
        </label>
        
        <label class="item item-input">
          <i class="icon ion-ios-locked placeholder-icon"></i>
          <input type="password" placeholder="{{ 'noapp.PASSWORD_TAG' | translate }}" ng-model="user.user_password" name="password">
        </label>
        
        <button type="submit" class="button button-block button-balanced" ng-disabled="disableLogin()">
          {{ "noapp.LOGIN_TAG" | translate }}
        </button>
      </div>
    </form>
  </ion-content>
  
</ion-view>
