{% extends "doc_basic.html" %}

{% block doc-css %}
{% end %}

{% block doc-content %}
<h1>Android SDK</h1>
<p><strong>PPMessage</strong>提供了丰富的SDK供开发者选择和使用，Android SDK主要针对<strong>PPMessage</strong>的注册用户的Android应用系统集成<strong>PPMessage</strong>系统用户端界面的接口。</p>
<h2>集成与使用</h2>
<h3>需求</h3>
<ul>
<li>下载 <strong>PPMessage</strong> Android SDK 和 Android SDK Demo。</li>
<li>确认使用 Eclipse 来开发 Android 应用。</li>
<li>Google Android SDK API 9，Android 2.3 以上。</li>
</ul>
<h3>第一步</h3>
<p>将下载好的 PPCom_Android_SDK 开发包进行解压，之后将其导入("File"-"Import"-"Android"-"Existing Android Code Into Workspace")到 eclipse 中，然后使你的项目引用它。</p>
<h3>第二步</h3>
<p>编辑AndroidManifest.xml文件，添加权限。
打开你的项目的 AndroidManifest.xml 文件，对照着SDK目录下面的 AndroidManifest.xml ，将下面的这段代码添加进你的 AndroidManifest.xml 文件中去。</p>
<h4>添加权限</h4>
<pre><code>&lt;uses-permission android:name="android.permission.INTERNET" /&gt;
&lt;uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" /&gt;
&lt;uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /&gt;
&lt;uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /&gt;
&lt;uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /&gt;
</code></pre>
<h3>第三步</h3>
<p>开发包包含两个基本View组件：</p>
<ol>
<li>PPLaunchView</li>
<li>PPComView</li>
</ol>
<h4>PPLauncherView</h4>
<p><code>PPLauncherView</code>是一个小的美观的按钮，可以让用户通过点击这个小按钮进入到反馈界面中去。你可以通过xml配置或者代码使用它，也可以编写你自己的View来替换它。</p>
<h5>通过xml配置使用<code>PPLauncherView</code></h5>
<pre><code>&lt;com.yvertical.ppcomlib.view.PPLauncherView
    android:id="@+id/launcherView"
    android:layout_width="wrap_content"
    android:layout_height="wrap_content"
&lt;/com.yvertical.ppcomlib.view.PPLauncherView&gt;
</code></pre>
<h5>通过代码使用<code>PPLauncherView</code></h5>
<pre><code>PPLauncherView mLauncherView = new PPLauncherView(getContext());
</code></pre>
<h5>设置监听事件</h5>
<pre><code>PPLauncherView mLauncherView = new PPLauncherView(getContext());
//PPLauncherView mLauncherView = findViewById(R.id.launcherView);

mLauncherView.setOnClickListener(new View.OnClickListener(){
    @Override
    public void onClick(View v) {
       //open feedback activity
    }
});
</code></pre>
<h4><code>PPComView</code></h4>
<p><code>PPComView</code>是核心聊天界面的View，用户可以在这个View中创建会话、对客服进行反馈会话等。可以通过xml配置或者代码来使用它。</p>
<h5>通过xml配置使用<code>PPComView</code></h5>
<pre><code>&lt;com.yvertical.ppcomlib.view.PPComView
    android:id="@+id/ppcomView"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
&lt;/com.yvertical.ppcomlib.view.PPComView&gt;
</code></pre>
<h5>通过代码使用<code>PPComView</code></h5>
<pre><code>PPComView mComView = new PPComView(getContext());
</code></pre>
<h5>初始化<code>PPComView</code></h5>
<pre><code>PPComView mComView = new PPComView(getContext());
//PPComView mComView = findViewById(R.id.ppcomView);

// 通过 PPComView.PPComConfig 来配置 PPComView 一些基本信息
ppComView.init(
    getFragmentManager(),
    new PPComView.PPComConfig(
        "你的AppKey",
        "你的AppSecret")
        .setEnterKeyToSendMessage(true) //软键盘的 Enter 键是否可以发送消息
        .setUserEmail("somebody.web@yvertical.com") //用户邮箱，不填为匿名用户
);
</code></pre>
<h5>遵循<code>Activity</code>生命周期</h5>
<p>如果<code>PPComView</code>是放在<code>Activity</code>中的，那么需要遵循<code>Activity</code>的生命周期，否则会出现异常。如下所示：</p>
<p><code>FeedBackActivity.java</code>源码：</p>
<pre><code>public class FeedBackActivity extends AppCompatActivity {

    private PPComView ppComView;

    @SuppressLint("NewApi")
    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        ppComView = new PPComView(this);
        setContentView(ppComView);

        ppComView.init(
                getFragmentManager(),
                new PPComView.PPComConfig(Constants.PPCOM_APP_KEY,
                        Constants.PPCOM_APP_SECRET).setEnterKeyToSendMessage(
                        true).setUserEmail("somebody.web@yvertical.com"));
    }

    @Override
    protected void onActivityResult(int requestCode, int resultCode, Intent data) {
        if (ppComView != null
                &amp;&amp; !ppComView.onActivityResult(requestCode, resultCode, data)) {
            super.onActivityResult(requestCode, resultCode, data);
        }
    }

    @Override
    public void onBackPressed() {
        if (ppComView != null &amp;&amp; !ppComView.onBackPressed()) {
            super.onBackPressed();
        }
    }

    @Override
    protected void onSaveInstanceState(Bundle outState) {
        super.onSaveInstanceState(outState);
        if (ppComView != null) {
            ppComView.onSaveInstanceState(outState);
        }
    }

    @Override
    protected void onRestoreInstanceState(Bundle savedInstanceState) {
        super.onRestoreInstanceState(savedInstanceState);
        if (ppComView != null) {
            ppComView.onRestoreInstanceState(savedInstanceState);
        }
    }

    @Override
    protected void onPause() {
        super.onPause();
        if (ppComView != null) {
            ppComView.onPause();
        }
    }

    @Override
    protected void onResume() {
        super.onResume();
        if (ppComView != null) {
            ppComView.onResume();
        }
    }

    @Override
    protected void onStop() {
        super.onStop();
        if (ppComView != null) {
            ppComView.onStop();
        }
    }

    @Override
    protected void onDestroy() {
        super.onDestroy();
        if (ppComView != null) {
            ppComView.onDestroy();
        }
    }

}
</code></pre>
<h5>遵循<code>Fragtment</code>生命周期</h5>
<p>如果<code>PPComView</code>是放在<code>Fragment</code>中的，那么需要遵循<code>Fragment</code>的生命周期，否则会出现异常。如下所示：</p>
<p><code>FeedBackFragment.java</code>源码：</p>
<pre><code>public class FeedBackFragment extends Fragment {

    private static final String TAG = FeedBackFragment.class.getSimpleName();

    private PPComView ppComView;

    public FeedBackFragment() {

    }

    @Override
    public View onCreateView(LayoutInflater inflater, ViewGroup container,
            Bundle savedInstanceState) {
        android.util.Log.d(TAG, "onCreateView");
        ppComView = (PPComView) inflater.inflate(R.layout.ppcom, container,
                false);
        ppComView.init(
                getFragmentManager(),
                new PPComView.PPComConfig(Constants.PPCOM_APP_KEY,
                        Constants.PPCOM_APP_SECRET).setEnterKeyToSendMessage(
                        true).setUserEmail("somebody.web@yvertical.com"));
        return ppComView;
    }

    @Override
    public void onActivityCreated(Bundle savedInstanceState) {
        super.onActivityCreated(savedInstanceState);
        if (savedInstanceState != null) {
            if (ppComView != null) {
                ppComView.onRestoreInstanceState(savedInstanceState);
            }
        }
    }

    @Override
    public void onSaveInstanceState(Bundle outState) {
        super.onSaveInstanceState(outState);
        if (ppComView != null) {
            ppComView.onSaveInstanceState(outState);
        }
    }

    @Override
    public void onDestroy() {
        super.onDestroy();
        if (ppComView != null) {
            ppComView.onDestroy();
        }
    }

    @Override
    public void onPause() {
        super.onPause();
        if (ppComView != null) {
            ppComView.onPause();
        }
    }

    @Override
    public void onResume() {
        super.onResume();
        if (ppComView != null) {
            ppComView.onResume();
        }
    }

    @Override
    public void onStop() {
        super.onStop();
        if (ppComView != null) {
            ppComView.onStop();
        }
    }

    public boolean handledActivityResult(int requestCode, int resultCode,
            Intent data) {
        if (ppComView != null) {
            return ppComView.onActivityResult(requestCode, resultCode, data);
        }
        return false;
    }

    public boolean onBackPressed() {
        if (ppComView != null) {
            return ppComView.onBackPressed();
        }
        return false;
    }
}
</code></pre>
<p>当在<code>Fragment</code>中使用的时候，<code>Fragment</code>所在的<code>Activity</code>应该处理<code>onBackPressed</code>和<code>onActivityResult</code>事件，如下所示：</p>
<pre><code>public class FeedBackFragmentActivity extends AppCompatActivity {

    private FeedBackFragment mFeedBackFragment;

    @Override
    protected void onCreate(Bundle savedInstanceState) {
        super.onCreate(savedInstanceState);
        setContentView(R.layout.activity_feedback_fragment);

        mFeedBackFragment = (FeedBackFragment) getSupportFragmentManager()
                .findFragmentById(R.id.mFeedbackFrag);
    }

    @Override
    protected void onActivityResult(int requestCode, int resultCode, Intent data) {
        if (!mFeedBackFragment.handledActivityResult(requestCode, resultCode,
                data)) {
            super.onActivityResult(requestCode, resultCode, data);
        }
    }

    @Override
    public void onBackPressed() {
        if (!mFeedBackFragment.onBackPressed()) {
            super.onBackPressed();
        }
    }
}
</code></pre>
{% end %}

{% block doc-js %}
<script src="{{ static_url("ppmessage/js/doc_android.js") }}"></script>
{% end %}
