{% extends "doc_basic.html" %}

{% block doc-css %}
{% end %}

{% block doc-content %}
<h1>Web SDK</h1>
<p><strong>PPMessage</strong>提供了丰富的SDK供开发者选择和使用，Web SDK主要针对<strong>PPMessage</strong>注册用户的Web应用系统集成<strong>PPMessage</strong>系统应用内在线客服系统用户端界面的接口。</p>
<h2>集成与使用</h2>
<p>Web SDK帮助用户在Web端集成<strong>PPMessage</strong>的客户端界面，通过Web SDK可以设置当前浏览网页的用户信息。</p>
<h3>配置集成</h3>
<p>在申请到<code>KEY</code>和<code>SECRET</code>之后，可以选择两种方案进行Web集成。</p>
<h4>代码嵌入</h4>
<pre><code>window.ppSettings = {
    //appKey，必填字段
    app_key: "xxxxxx",
    //appSecret，必填字段
    app_secret: "xxxxxx"
}
&lt;script&gt;(function(){var w=window,d=document;function l(){var a=d.createElement("script");a.type="text/javascript";a.async=!0;a.src="https://ppmessage.cn/ppcom/assets/pp-library.min.js";var b=d.getElementsByTagName("script")[0];b.parentNode.insertBefore(a,b)}w.attachEvent?w.attachEvent("onload",l):w.addEventListener("load",l,!1);})()&lt;/script&gt;
</code></pre>
<h4>文件加载</h4>
<p>如果使用API获取<strong>PPMessage</strong>更多功能，请使用直接Javascript脚本文件加载方法。从而能够确保使用任何<strong>PPMessage</strong> SDK接口之前<strong>PPMessage</strong>脚本已经加载完毕。</p>
<pre><code>&lt;script src="https://ppmessage.cn/ppcom/assets/pp-library.min.js" type="text/javascript"&gt;&lt;/script&gt;
</code></pre>
<h4>使用在线工具</h4>
<p>使用在线工具集成，即选择了代码嵌入的集成方法。</p>
<h3>更多配置和API</h3>
<h4>配置选项</h4>
<p>在<code>window.ppSettings</code>中还可以进行其它配置，来更方便的创建和显示<strong>PPMessage</strong>的客服指示图标，如下所示：</p>
<pre><code>&lt;script&gt;
window.ppSettings = {
    //appKey，必填字段
    app_key: "xxxxxx",
    //appSecret，必填字段
    app_secret: "xxxxxx",

    //第三方用户email，可选字段，不填的话，将会以匿名用户身份收发信息
    user_email: "somebody.web@ppmessage.cn",
    //用户姓名，可选字段，在客服端会显示此处填写的用户姓名
    user_name: "张三",
    //用户头像，可选字段，在客服端会显示此处填写的用户头像
    user_icon: "http://xxxx.com/avatar.png",
    //语言配置，可选字段，zh-CN:"中文"，en:"英文", 默认为中文
    language: "zh-CN",

    //界面配置，可选字段
    view: {
        //聊天泡泡图标距离网站最底侧的间距，默认为"20px"
        launcher_bottom_margin: "20px",
        //聊天泡泡图标距离网站最右侧的间距，默认为"20px"
        launcher_right_margin: "60px",
        //是否显示右下角的PPMessage聊天泡泡图标
        launcher_is_show: true
    }
};
&lt;/script&gt;
</code></pre>
<h4>启动<code>PPMessage</code></h4>
<pre><code>PP.boot({
    app_key: app_key,
    app_secret: app_secret
}, function(isSucess, errorCode) {
   //回调函数
});
</code></pre>
<h4>显示<code>PPMessage</code>消息面板</h4>
<pre><code>/**
 * @description 显示 PPCom
 * @return 无返回值
 */
PP.show();
</code></pre>
<h4>隐藏<code>PPMessage</code>消息面板</h4>
<pre><code>/**
 * @description 隐藏 PPMessage
 * @return 无返回值
 */
PP.dismiss();
</code></pre>
<h4>更新<code>PPMessage</code></h4>
<pre><code>/**
 * @description 更新 PPMessage
 * @return 无返回值
 */
PP.update({
    app_key: app_key,
    app_secret: app_secret,
    user_email: xxx@qq.com
});
</code></pre>
<p><strong>说明：</strong>参数可选，不填写参数的话，则默认使用<code>window.ppSettings</code>来更新<code>PPMessage</code>，当重新设置<code>window.ppSettings.user_email</code>的时候，必须调用此函数来更新<code>PPMessage</code></p>
<h4>关闭<code>PPMessage</code></h4>
<pre><code>PP.shutdown();
</code></pre>
<p><strong>说明：</strong>当用户注销的时候，可以调用此接口销毁用户数据，此接口将会移除掉<code>PPMessage</code></p>
<h3>错误码</h3>
<p>当<code>window.ppSettings</code>的配置信息有误而导致<code>PPMessage</code>无法正常显示的时候，<code>PPMessage</code>会在浏览器的<code>console</code>中打印出相应的错误信息和错误码。</p>
<p>下面是所有可能出现的错误码所对应的错误描述信息:</p>
<pre><code>Error Code(错误码) | Error description(错误描述)
----------------- | -------------------------------
10000             | appKey 或者 appSecret 填写有误
10001             | 找不到 user_email 对应的用户，可能未注册或者邮箱填写有误
10002             | PPMessage 暂时还无法运行在 IE9 或以下版本中
10003             | 服务不可用
10004             | user_email 不是正确的邮箱的格式
</code></pre>
<h2>一键安装工具简介</h2>
<p>一键安装工具是个代码安装工具，如果您不清楚如何手动将我们的应用集成到您的网站，您可以选择使用一键安装工具，通过填写一些必要的参数，我们来帮助您将应用集成到您的网站，实现一键安装。</p>
<blockquote>
<p>安装需要您的网站服务器开启FTP或者SSH服务，需要提供FTP或SSH账号密码，您可以与您的网站管理员取得联系并获得这些。</p>
<p>安装前请您联系您的网站管理员做好备份</p>
</blockquote>
<h2>一键安装工具使用</h2>
<p>首先登录我们的网站，点击应用集成下面的方案二：一键安装 按钮，如下图所示：</p>
<p><img alt="team integrate" src="/static/ppmessage/img/doc/autoinstall_step_1.png" /></p>
<p>点击后您将看到一键安装面板。填入正确参数后点击连接按钮，如下图所示：</p>
<p><img alt="team manualinstall" src="/static/ppmessage/img/doc/autoinstall_step_2.png" /></p>
<p>可以看到一共需要6个参数，分别代表：</p>
<p>登录方式: 登录您服务器的方式(FTP或者SSH, 默认FTP)</p>
<p>主机: 登录您服务器的主机地址(IP地址或者虚拟主机地址)</p>
<p>用户名: 登录您服务器的账户名</p>
<p>密码: 登录您服务器的密码</p>
<p>团队 Key: 使用<strong>PPMessage</strong>服务的key值 (团队Key，系统自动为您填写)</p>
<p>团队 Secret: 使用<strong>PPMessage</strong>服务的secret值 (团队Secret，系统自动为您填写)</p>
<p>正确连接到服务器后，您将看到服务器下的文件，选择您想添加插件的网页</p>
<p><img alt="team script install" src="/static/ppmessage/img/doc/autoinstall_step_3.png" /></p>
<p>选择完毕后请点击开始安装按钮。如下图所示：</p>
<p><img alt="begin install" src="/static/ppmessage/img/doc/autoinstall_step_4.png" /></p>
<p>完成安装会弹出安装成功对话框，至此安装完成。如果仍然有疑惑请联系我们客服</p>
<blockquote>
<p>安装速度主要取决于您服务器网络状况的好坏。</p>
<p>如果您不确定想安装的文件夹或者文件，您可以考虑直接在确定网站所在的根目录下点选文件夹，我们将对整个文件夹安装。</p>
</blockquote>
{% end %}

{% block doc-js %}
<script src="{{ static_url("ppmessage/js/doc_web.js") }}"></script>
{% end %}
