{% extends "basic.html" %}

{% block css %}
<link rel="stylesheet" href="{{ static_url("ppmessage/css/download.css") }}" />
{% end %}

{% block content %}
<div class="section-intro">
  <div class="content">
    <img class="column column-left device" src="{{ static_url("ppmessage/img/drive-devices.jpg") }}" />
    <div class="column column-right" >
      
      <h2 class="heading-headline">Get PPMessage Everywhere</h2>
      <p class="section-body">
        Install PPMessage on your smartphone, tablet and computer so you can keep your files safe and easy to reach from anywhere.
      </p>
      <div class="download-wrapper">
        <a class="btn-blue button-download">
          Download PPMessage
          <span class="arrow-dropdown"></span>
        </a>
        <ul class="dropdown-list">
          <li class="download-mac">
            <a>Mac</a>
          </li>
          <li class="download-win32">
            <a>Win 32bit</a>
          </li>
          <li class="download-win64">
            <a>Win 64bit</a>
          </li>
          <li class="download-android">
            <a>Android</a>
          </li>
          <li class="download-ios">
            <a>iPhone</a>
          </li>
        </ul>
      </div>
      
    </div>
  </div>
</div>
{% end %}

{% block js %}
<script src="{{ static_url("ppmessage/js/download.js") }}"></script>
{% end %}
