<html>
  <head>
    <!-- <link rel="stylesheet" href="/static/bower_components/bootstrap/dist/css/bootstrap.min.css" type="text/css"> -->
    <!-- <link rel="stylesheet" href="/static/ppmessage/css/index.css" type="text/css"> -->
    <title>{{ _("PPMessage") }}</title>
  </head>
  <body>

    {% block preloader %}
	<!-- <div id="mask" style="/* display: none; */"> -->
	<!--   <div class="preloader"><div class="spin base_clr_brd"><div class="clip left"><div class="circle"></div></div><div class="gap"><div class="circle"></div></div><div class="clip right"><div class="circle"></div></div></div></div> -->
	<!-- </div> -->
    {% end %}

    {% block preloader_js %}
    <!-- <script src="/static/bower_components/jquery/dist/jquery.min.js"></script> -->
    <!-- <script src="/static/bower_components/bootstrap/dist/js/bootstrap.min.js"></script> -->
    <!-- <script> -->
    <!--   setTimeout(function() { -->
    <!--   $(function(){ -->
    <!--   $("#mask").css({"display": "none"}); -->
    <!--   }); -->
    <!--   }, 2000); -->
    <!-- </script> -->
    {% end %}
    
  </body>
</html>
