<div class="boxed-group">
  <h3>分流方式</h3>
  <div class="boxed-group-inner clearfix">
    <!-- Using radio buttons – each switch turns off the other two -->
    <div class="type_panel">

      <div class="switch small yan">
        <input id="radioSwitch1" type="radio" name="testGroup" ng-model="current_app.app_route_policy" value="BROADCAST">
        <label for="radioSwitch1" style="float:left;"></label>
        <div class="line">
          群发模式
          <span class="u-icon" data-toggle="tooltip" title="将消息投递给所有客服，无论其在线与否"></span>
        </div>
      </div>

      <div class="switch small yan">
        <input id="radioSwitch2" type="radio" name="testGroup" ng-model="current_app.app_route_policy" value="SMART">
        <label for="radioSwitch2" style="float:left;"></label>
        <div class="line">
          智能匹配
          <span class="u-icon" data-toggle="tooltip" title="按照系统算法投递消息给在线客服，只发给一个在线客服"></span>
        </div>
      </div>

      <div class="switch small yan">
        <input id="radioSwitch3" type="radio" name="testGroup" ng-model="current_app.app_route_policy" value="GROUP">
        <label for="radioSwitch3" style="float:left;"></label>
        <div class="line">
          分组模式
          <span class="u-icon" data-toggle="tooltip" title="按照客服分组所定义的规则进行消息分流"></span>
        </div>
      </div>

      <div class="switch small yan">
        <input id="radioSwitch4" type="radio" name="testGroup" ng-model="current_app.app_route_policy" value="ROBOT">
        <label for="radioSwitch4" style="float:left;"></label>
        <div class="line">
          人工智能
          <span class="u-icon" data-toggle="tooltip" title="按照人工智能所设定的训练结果进行消息自动回复和分流"></span>
        </div>
      </div>

    </div>
  </div>
</div>
<script>
  $(function () { $("[data-toggle='tooltip']").tooltip(); });
</script>
