<div class="resetpassword settings">
	<div class="flash-message container" ng-if="should_show_error_string()">
		<div class="flash flash-error">
			<span class="glyphicon glyphicon-remove flash-close" aria-hidden="true" ng-click="close_error_string()"></span>
			{{get_error_string()}}
		</div>
	</div>
	<div class="clearfix">
		<div class="auth-form">
			<form accept-charset="UTF-8" ng-submit="resetpassword(reset_email)">
				<div class="auth-form-header">
					<h1>找回密码</h1>
				</div>
				<div class="auth-form-body">
					<input autofocus="autofocus" class="input-block" id="email_field" name="email" type="email" ng-model="reset_email" placeholder="登录邮箱" />
					<input name="commit" type="submit" value="发送找回密码邮件" class="union_btn"/>
				</div>
			</form>
		</div>
	</div>
</div>
