<div class="boxed-group">
  <h3>团队信息</h3>
  <div class="boxed-group-inner clearfix">
    <form accept-charset="UTF-8" class="columns" ng-submit="modify()">

      <div class="column">
          <dl class="form">
            <dt><label for="app_uuid">团队UUID (app_uuid)</label></dt>
            <dd><input id="app_uuid" class="input-noborder" size="30" type="text" readonly="readonly" ng-model="team_info.uuid"></dd>
          </dl>

          <dl class="form">
            <dt><label>客服端 API Key (PPKefu api_key)</label></dt>
            <dd>
              <input class="input-noborder" size="30" type="text" readonly="readonly" ng-model="team_info.ppkefu_thirdparty.api_key">
            </dd>
          </dl>

          
          <dl class="form">
            <dt><label>客服端 API Secret (PPKefu api_secret)</label></dt>
            <dd><input class="input-noborder" size="30" type="text" readonly="readonly" ng-model="team_info.ppkefu_thirdparty.api_secret"></dd>
          </dl>

          <dl class="form">
            <dt><label>管理端 API Key (PPConsole api_key)</label></dt>
            <dd>
              <input class="input-noborder" size="30" type="text" readonly="readonly" ng-model="team_info.ppconsole_thirdparty.api_key">
            </dd>
          </dl>

          
          <dl class="form">
            <dt><label>管理端 API Secret (PPConsole api_secret)</label></dt>
            <dd>
              <input class="input-noborder" size="30" type="text" readonly="readonly" ng-model="team_info.ppconsole_thirdparty.api_secret">
            </dd>
          </dl>

          
          <dl class="form">
            <dt><label for="app_name">团队名称</label></dt>
            <dd><input id="app_name" size="30" type="text" ng-model="team_info.app_name" tabindex="2"></dd>
          </dl>
          <p><button type="submit" class="btn btn-primary" tabindex="3" >确认修改</button></p>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="boxed-group dangerzone" ng-if="can_delete">
  <h3>删除团队</h3>
  <div class="boxed-group-inner">
    <p>删除须知：删除团队是不可逆操作，该操作意味着将永久从本网站删除与该团队有关的所有数据.如有疑问请点击右下角图标咨询客服.</p>

    <p><button type="button" class="btn btn-danger" tabindex="4" ng-click="show_remove_modal()">确认删除</button></p>
  </div>
</div>

<div class="modal fade" id="remove_app">
  <div class="modal-dialog" style="margin-top: 300px;width: 400px;">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title"><strong>删除团队</strong></h4>
      </div>
      <div class="modal-body" style="color: #D03F3F;">
        <p>删除，意味着您将失去所有与该团队有关的数据.</p>
        <p>请确保您充分了解该操作的意义?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">取消</button>
        <button type="button" class="btn btn-danger" style="background-image: linear-gradient(#C16552, #E24215);"
                ng-click="remove_app()">确认删除</button>
      </div>
    </div>
  </div>
</div>
