<script id="filechooser-modal.html" type="text/ng-template">
  <ion-modal-view>

    <ion-header-bar class="bar-dark" no-tap-scroll="true">
      <h1 class="title" >{{ title }}</h1>
      <div class="buttons">
        <button class="button button-icon ion-ios-close-empty" ng-click="closeModal()"></button>
      </div>      
    </ion-header-bar>
    
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="f in files" ng-click="onEntryClicked(f)">
          <div ng-if="f.isDirectory">
            <b><font color="blue">{{f.name}}</font></b>
          </div>
          <div ng-if="!f.isDirectory">
            <b><font color="black">{{f.name}}</font></b>
          </div>
        </ion-item>
      </ion-list>

      <div style="position:absolute; top:75%; width:100%;" ng-if="showProgress">
        <div style="text-align:center;">
          <ion-spinner icon="ios"></ion-spinner>
        </div>
      </div>
    </ion-content>
  </ion-modal-view>
</script>
