<script id="text-modal.html" type="text/ng-template">
  <ion-modal-view class="text-modal-view">
    <ion-header-bar class="bar-dark" align-title="center">
      <h1 class="title">{{ "app.GLOBAL.MESSAGE_CONTENT" | translate }}</h1>
      <div class="buttons">
        <button class="button button-icon ion-ios-close-empty" ng-click="closeModal()"></button>
      </div>
    </ion-header-bar>
    
    <ion-content ng-click="clickContent($event)">
      <pre class="text-content" ng-bind-html="content" ng-if="!inMobile" data-tap-disabled="true" overflow-scroll="true"></pre>
      <pre class="text-content" ng-bind-html="content" ng-if="inMobile"></pre>
    </ion-content>
  </ion-modal-view>
</script>
