<div>
<!--    <div class="yv-userinfo-settings" yv-no-close ng-if="!isMobile">
	<div yv-no-close class="userinfo-avatar">
	  <img ng-src="{{ getUserIcon(message) }}" yv-no-close>
	</div>
	<div class="userinfo-profile" yv-no-close>
	  <div class="userinfo-nickname" yv-no-close>
		<input yv-no-close maxlength="10" ng-blur="save()" ng-model="userinfo.nickname" ng-disabled="isDisabled"/>
	  </div>
	  <div class="meta-area" yv-no-close>
		<div class="meta-item" yv-no-close>
		  <label yv-no-close>电话:</label>
		  <input yv-no-close maxlength="20" ng-blur="save()" ng-model="userinfo.tel" ng-disabled="isDisabled"/>
		</div>
		<div class="meta-item" yv-no-close>
		  <label yv-no-close>Q Q:</label>
		  <input yv-no-close maxlength="20" ng-blur="save()" ng-model="userinfo.qq" ng-disabled="isDisabled"/>
		</div>
		<div class="meta-item" yv-no-close>
		  <label yv-no-close>备注:</label>
		  <input yv-no-close maxlength="20" ng-blur="save()" ng-model="userinfo.remarks" ng-disabled="isDisabled"/>
		</div>
	  </div>
	</div>
  </div>  
 --></div>
