.yv-chat-profile {
    z-index: 11;
    background-color: #fff;
    position: absolute;
    width: 150px;
    border-radius: 6px;

    >img {
        height: 150px;
        width: 150px;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    
    .item {
        border-width: 0px;
        padding: 10px;
        
        &:last-child {
            border-bottom-left-radius: 6px;
            border-bottom-right-radius: 6px;
        }
    }
}

.yv-left {
    .yv-chat-profile {
        left: 40px;
    }
}

.yv-right {
    .yv-chat-profile {
        right: 40px;
    }
}

