
.auth-form {
    width: 400px;
    margin: 40px auto;
}

.auth-form-header {
    position: relative;
    padding: 10px 20px;
    margin: 0;
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,0.3);
    background-color: #21aae1;
    border: 1px solid #21aae1;
    border-radius: 3px 3px 0 0;
}

.auth-form-header h1 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    color: white;
}

.auth-form-body {
    padding: 20px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-top: 0;
    border-radius: 0 0 3px 3px;
}


.auth-form label {
    font-size: 13px;
    font-weight: bold;
    margin-top: 8px;
    margin-bottom: 15px;
    padding: 0 10px;
}

.auth-form-body .input-block {
    margin-top: 5px;
    line-height: 26px;
}

.auth-form-body .input-block:first-child {
    margin-bottom: 15px;
}

.form-control, input[type="text"], input[type="password"], input[type="email"], input[type="number"], input[type="tel"], input[type="url"], textarea {
    min-height: 34px;
    padding: 7px 8px;
    font-size: 13px;
    color: #333;
    vertical-align: middle;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: right 8px center;
    border: 1px solid #ccc;
    border-radius: 3px;
    outline: none;
    box-shadow: inset 0 1px 2px rgba(0,0,0,0.075);
}

.input-block {
    display: block;
    width: 100%;
}

input, select, textarea, button {
    font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Segoe UI Emoji", "Segoe UI Symbol";
}

button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}

.union_btn {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0 -1px 0 #279bdf;
    border: 1px solid #2597da;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-box-shadow: 0 1px 1px rgba(2,90,131,0.15),inset 0 0 3px rgba(252,252,252,0.13);
    box-shadow: 0 1px 1px rgba(2,90,131,0.15),inset 0 0 3px rgba(252,252,252,0.13);
    background-color: #21aae1;
    width: 358px;
    height: 40px;
    text-decoration: none !important;
}

.union_btn:disabled {
    background-color: #C3C3C3;
    border: #C3C3C3;
    cursor: default;
    text-shadow: 0 -1px 0 #C3C3C3;
}

.signup-form-body .team_name {
    text-align: center;
}

.signup-form-body .half, .signup-password .half {
    width: 48%;
}

.signup-form-body .right, .signup-password .right {
    float: right;
}

.signup-form-body {
    padding: 20px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-top: 0;
    border-radius: 0 0 3px 3px;
}

/* -----------startteam.html------------- */
.auth-form-f {
    width: 300px;
    margin: 40px;
}

.signup-form-body .start_try_slogan {
    text-align: center;
    
}

.signup-form-body .start_try_div {
    margin: auto auto 50px;
    width: 60%;
    border: 1px solid #e7e7eb;
    border-radius: 4px;
}

.signup-form-body .start_try_div p {
    border-bottom: 1px solid #e7e7eb;
    padding: 10px 0;
    font-size: 14px;
    letter-spacing: 4px;
}

.signup-form-body .start_try_div ul {
    list-style-type: none;
}

.signup-form-body .start_try_div ul li {
    margin-left: 30px;
    list-style-type: disc;
    margin-bottom: 10px;
}

.signup_body .choose_ways {
    float: right;
    position: relative;
    width: 30%;
    height: 300px;
    top: -370px;
    margin-right: 30px;
    border-left: 1px solid;
    padding-left: 20px;
}

.signup_body .choose_ways p {
    margin: 30px 0 0 15px;
    font-size: 20px;
}

.signup_body .choose_ways ul {
    margin: 10px 50px;
    font-size: 18px;
    margin-bottom: 10px;
}

.signup_body .choose_ways ul li {
    text-align: left;
    list-style-type: disc;
    margin-bottom: 10px;
}

.signup_body .choose_ways ul li a {
    cursor: pointer;
    text-decoration: none;
}
/* -----------startteam.html------------- */

.signup-form-body input {
    width: 100%;
    margin: 6px 0;
    padding: 13px 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.signup-form-body p {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 11px;
    color: #888;
    text-align: center;
}

.signup-form-body .btn-blue {
    color: #fff;
    font-size: 15px;
    font-weight: 500;
    text-shadow: 0 -1px 0 #279bdf;
    border: 1px solid #2597da;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    -webkit-background-clip: padding;
    -moz-background-clip: padding;
    background-clip: padding-box;
    -webkit-box-shadow: 0 1px 1px rgba(2,90,131,0.15),inset 0 0 3px rgba(252,252,252,0.13);
    box-shadow: 0 1px 1px rgba(2,90,131,0.15),inset 0 0 3px rgba(252,252,252,0.13);
    background-color: #21aae1;
    letter-spacing: 10px;
}

.signup-form-body .btn-blue:disabled,
.union_btn:disabled {
    background-color: #C3C3C3;
    border: #C3C3C3;
    cursor: default;
    text-shadow: 0 -1px 0 #C3C3C3;
}

.signup-form-body .team_name {
    text-align: center;
}

.signup-form-body .half, .signup-password .half {
    width: 48%;
}

.signup-form-body .right, .signup-password .right {
    float: right;
}

.signup-form-body {
    padding: 20px;
    font-size: 14px;
    background-color: #fff;
    border: 1px solid #d8dee2;
    border-top: 0;
    border-radius: 0 0 3px 3px;
}

/* -----------startteam.html------------- */
.auth-form-f {
    width: 300px;
    margin: 40px;
}

.signup-form-body .start_try_slogan {
    text-align: center;
    
}

.signup-form-body .start_try_div {
    margin: auto auto 50px;
    width: 60%;
    border: 1px solid #e7e7eb;
    border-radius: 4px;
}

.signup-form-body .start_try_div p {
    border-bottom: 1px solid #e7e7eb;
    padding: 10px 0;
    font-size: 14px;
    letter-spacing: 4px;
}

.signup-form-body .start_try_div ul {
    list-style-type: none;
}

.signup-form-body .start_try_div ul li {
    margin-left: 30px;
    list-style-type: disc;
    margin-bottom: 10px;
}

.signup_body .choose_ways {
    float: right;
    position: relative;
    width: 30%;
    height: 300px;
    top: -370px;
    margin-right: 30px;
    border-left: 1px solid;
    padding-left: 20px;
}

.signup_body .choose_ways p {
    margin: 30px 0 0 15px;
    font-size: 20px;
}

.signup_body .choose_ways ul {
    margin: 10px 50px;
    font-size: 18px;
    margin-bottom: 10px;
}

.signup_body .choose_ways ul li {
    text-align: left;
    list-style-type: disc;
    margin-bottom: 10px;
}

.signup_body .choose_ways ul li a {
    cursor: pointer;
    text-decoration: none;
}
/* -----------startteam.html------------- */

.signup-form-body input {
    width: 100%;
    margin: 6px 0;
    padding: 13px 14px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.signup-form-body p {
    width: 100%;
    margin-top: 2px;
    margin-bottom: 10px;
    font-size: 11px;
    color: #888;
    text-align: center;
}

.signup-form-body button {
    display: block;
    width: 100%;
    margin: 0 auto;
    padding: 12px 24px;
    font-weight: 400;
    cursor: pointer;
}

.check-email, .create-account {
    box-shadow: 0 0 4px rgba(0,0,0,0.2),0 0 0 1px rgba(255,255,255,0.5) inset;
    background-color: #fbfcfd;
    border-radius: 10px;
    max-width: 380px;
    margin: 120px auto;
    text-align: center;
}

.check-email h3 {
    padding-top: 40px;
    padding-bottom: 20px;
    font-size: 22px;
    text-align: center;
}

.check-email img {
    display: block;
    margin: 36px auto;
    width: 112px;
    height: 112px;
}

.check-email p {
    margin: 30px 0;
    text-align: center;
}

.check-email .email-address {
    display: block;
    margin-top: 4px;
    padding: 0;
    color: #333;
    font-size: 16px;
    text-transform: uppercase;
}

.check-email .sub-text {
    display: block;
    padding: 0 48px 15px;
    font-size: 12px;
    text-align: left;
    color: #888;
}


.create-account img {
    display: block;
    margin: 36px auto;
    width: 128px;
    height: auto;
}

.create-account .btn-blue {
    width: 100%;
}


.notification {
    position: absolute;
    opacity: 1;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: alpha(opacity=0);
    top: -52px;
    left: 50%;
    margin-left: -200px;
    width: 400px;
    max-height: 200px;
    overflow: hidden;
    background-color: #fafafa;
    border: 1px solid transparent;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    line-height: 40px;
    text-align: center;
    -webkit-transition: max-height 0.6s, border 0.6s;
    -moz-transition: max-height 0.6s, border 0.6s;
    -o-transition: max-height 0.6s, border 0.6s;
    -ms-transition: max-height 0.6s, border 0.6s;
    transition: max-height 0.6s, border 0.6s;
    z-index: 200;
}

.notification.show {
    opacity: 1;
    -ms-filter: none;
    filter: none;
    max-height: 200px;
    border: 1px solid #21aae1;
}

.notification.error {
    background-color: #fff5f5;
    border: 1px solid #ef5e1b;
}

.signup_body {
    margin: auto;
    width: 750px;
    margin: 60px auto 100px;
    border: 1px solid #e7e7eb;
}

.processor_bar {
    border-bottom: 1px solid #e7e7eb;
    width: 100%;
    height: 44px;
    color: #829aa8;
}

.processor_bar .ul {
    list-style-type: none;
    height: 100%;
}

.processor_bar .ul .status {
    float: left;
    width: 33.33%;
    height: 100%;
}

.processor_bar .ul .choose {
    background-color: #21aae1 !important;
    color: white;
}

.processor_bar .ul .is {
    background: url("/portal/static/yvertical/img/is.png") no-repeat 0 0;
    background-position: -20px -10px;
}

.processor_bar .ul .white {
    background: url("/portal/static/yvertical/img/white.png") no-repeat 0 0;
    background-position: -20px -10px;
}

.processor_bar .ul .us {
    background: url("/portal/static/yvertical/img/us.png") no-repeat 0 0;
    background-position: -20px -10px;
}

.processor_bar .ul .status .h4 {
    text-align: center;
    padding-left: 8px;
}