<!-- Header BEGIN -->
<div class="header">
  <div class="nav">
	<div class="nav_main">

      <button class="mobile-menu" type="button" role="button" aria-label="Toggle Navigation" ng-click="toggle_mobile_menu($event)">
        <span class="lines"></span>
      </button>
      
      <ul class="mobile-menu-items" ng-click="click_mobile_items($event)">
        <li ng-if="!is_logined()"> <a ui-sref="app.signup">{{ "app.SIGNIN_TAG" | translate }} </a> </li>
        <li ng-if="!is_logined()"> <a ui-sref="app.signin">{{ "app.LOGIN_TAG" | translate }} </a> </li>

        <li ng-if="is_logined()"> <a ui-sref="app.settings.profile"> {{ get_user_fullname() }} </a> </li>
        <li><a ng-click="logout()"> {{ "app.EXIT_APP_TAG" | translate }} </a></li>
      </ul>
      
      <div class="menu" ng-style="menuStyle" >

        <span class="dropdown" ng-show="isAdminUser && is_logined()" >
          <button class="btn btn-default dropdown-toggle" type="button" id="dropdownApps" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
            {{ "app.APPS" | translate }}
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu app-menu" aria-labelledby="dropdownApps">
            <li ng-repeat="app in apps">
              <a ng-click="selectApp(app)" ng-style="appStyle(app)">
                {{ app.app_name }}
              </a>
            </li>
          </ul>
        </span>

        <span class="register-item" ng-show="!is_logined()">
          <a ui-sref="app.signup">{{ "app.SIGNUP_TAG" | translate }}</a>
          <a ui-sref="app.signin">{{ "app.LOGIN_TAG" | translate }}</a>
    	</span>

        <span class="register-item" ng-show="is_logined()">
          <a ng-click="start_ppmessage()">{{ "app.START_SERVICE_TAG" | translate }}</a>
    	</span>

        <span class="dropdown nav-item" ng-show="is_logined()">
          <!-- remove text-transform: uppercase; -->
          <a style="font-weight:600; background-color: transparent" id="account-dropdown" class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true" >
            {{ get_user_fullname() }}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="account-dropdown">
            <li class="first"><a ui-sref="app.settings.profile" ng-show="show_settings_menu()"> {{ "app.PRIVATE_CONFIG_TAG" | translate }} </a></li>
            <li class="first"><a ui-sref="app.settings.teamprofile" ng-show="show_settings_menu()"> {{ "app.TEAM_CONFIG_TAG" | translate }} </a></li>
            <li role="separator" class="divider"></li>
            <li><a ng-click="logout()"> {{ "app.EXIT_APP_TAG" | translate }} </a></li>
          </ul>
        </span>
        
      </div>
      
	  <div class="logo" ng-click="main()">
	  </div>
      
      <span class="slogan">
        {{ "app.SLOGAN" | translate }}
      </span>
      
	</div>
  </div>
</div>
<!-- Header END -->
<div class="fix-header-padding"></div>

<ui-view>
</ui-view>

<div class="footer-section">  
  <div class="copyright">
    <!--
        <p ng-if="!is_lang_english()"><a style="cursor:pointer" ng-click="switch_to_english()"> Switch to English Version</a></p>
    <p ng-if="is_lang_english()"><a style="cursor:pointer" ng-click="switch_to_chinese()"> 转换到中文</a></p>
    -->
	<p>© 2011-2016 PPMessage All Rights Reserved. &nbsp;&nbsp;
    </p>
  </div>
</div>

