<div style="position:relative;">
  <div class="notification error" ng-if="should_show_error()"><span> {{ get_error_string() }} </span></div>
  <div class="signup_body">
    <div class="processor_bar">
      <ul class="ul">
        <li class="status">
          <h4 class="h4">
            1 {{ "signup.SIGNUP_TAG" | translate }}
          </h4>
        </li>
        <li class="status choose white">
          <h4 class="h4">
            2 {{ "signup.CREATE_TEAM_TAG" | translate }}
          </h4>
        </li>
        <li class="status is">
          <h4 class="h4">
            3 {{ "signup.START_TAG" | translate }}
          </h4>
        </li>
      </ul>
    </div>
    <div class="auth-form">
      <form accept-charset="UTF-8" ng-submit="create_team(team_name)">
        <div class="auth-form-header">
          <h1>{{ "signup.CREATE_TEAM_TAG" | translate }}</h1>
        </div>
        <div class="signup-form-body">
          <p class="team_name">{{ "signup.MAKE_NAME_FOR_YOURTEAM" | translate }}</p>
          <input ng-model="team_name" type="text" name="team" placeholder="{{ 'signup.TEAM_NAME' | translate }}" style="margin-bottom:20px;">
          <button type="submit" class="btn-blue" >{{ "signup.CREATE_TEAM_TAG" | translate }}</button>
        </div>
      </form>
    </div>
  </div>
</div>


