<div class="jobs_main">
  <!-- <article class="jobs_slogan"> -->
  <!--   "这是互联网+的时代，更是云计算的时代。亲爱的你，选择作为时代的见证者，还是参与者？来吧，加入PPmessage，与我们一同创造历史！一个全新的时代即将到来！" -->
  <!-- </article> -->
  <p class="jobs_slogan">加入我们</p>
  <div class="jobs_list">
    <hr>
    <div class="list">
      <ul>
        <li ng-click="change_job_panel(0)" >架构师</li>
        <li ng-click="change_job_panel(1)" >UI设计师</li>
        <li ng-click="change_job_panel(2)" >前端开发工程师</li>
        <li ng-click="change_job_panel(3)" >ANDROID开发工程师</li>
        <li ng-click="change_job_panel(4)" >IOS开发工程师</li>
        <li ng-click="change_job_panel(5)" >产品经理</li>
        <li ng-click="change_job_panel(6)" >客服专员</li>
        <li ng-click="change_job_panel(7)" >客户经理</li>
        <li ng-click="change_job_panel(8)" >商务渠道</li>
        <li ng-click="change_job_panel(9)" >人事/HR</li>
      </ul>
    </div>
    <hr>
  </div>
  <div class="info">
    <div class="main">
      <h4>
        <span class="l">{{current_job.name}}</span>
        <span class="span1">关键词:</span>
        <span ng-repeat="keyword in current_job.keywords" class="span2">
          {{keyword}}
        </span>
        <span class="span1">申请方式：</span>
        <a href="mailto:hr@ppmessage.cn" style="text-decoration:none; !important">
          <span class="span3"></span>
        </a>
      </h4>
      <p style="margin-top:20px;font-size:17px;color:#999">职位描述：</p>
      <ol>
        <li ng-repeat="describe in current_job.describes">{{describe}}</li>
      </ol>
      <p style="margin-top:20px;color:#999;font-size:17px;">职位要求：</p>
      <ol>
        <li ng-repeat="required in current_job.requireds">{{required}}</li>
      </ol>
    </div>
  </div>
</div>
