<div style="position:relative;">

  <div class="notification error" ng-if="should_show_error()"><span> {{ get_error_string() }} </span></div>

  <div class="auth-form" id="login" style="margin:120px auto;">
    
    <form accept-charset="UTF-8" method="post" ng-submit="login(user)">

      <div class="auth-form-header">
        <!-- <h1>{{ lang["login.LOGIN_TAG"] }}</h1> -->
        {{ "login.LOGIN_TAG" | translate }}
      </div>
      <div class="auth-form-body">
        <!-- <label for="login_field"> -->
        <!--   邮箱 -->
        <!-- </label> -->
        <input autocapitalize="off" autocorrect="off" autofocus="autofocus" class="input-block" id="login_field" name="login" tabindex="1" type="text" value="" ng-model="user.email" placeholder="{{ 'login.LOGIN_EMAIL_PLACEHOLDER_TAG' | translate }}">
        <input ng-model="user.password" class="input-block" style="margin-bottom:5px;" id="password" name="password" tabindex="2" type="password" placeholder="{{ lang['login.LOGIN_PASSWORD_TAG'] }}">
        <label for="password">
          <a ui-sref="app.signup">{{ lang["login.LOGIN_REGISTER_TAG"] }}</a>
        </label>
        <label for="password" style="float:right">
          <a ui-sref="app.resetpassword">{{ lang['login.LOGIN_FORGET_PASSWORD_TAG'] }}</a>
        </label>
        <input class="union_btn" name="commit" tabindex="3" type="submit" value="{{ lang['login.LOGIN_TAG'] }}"></input>
      </div>
    </form>

  </div>

</div>
