<div class="payment_main">
  <div class="payment_casher">
    <div class="payment_casher_w">
      <h1 class="payment_casher_div">
        <div class="payment_casher_logo"></div>
      </h1>
    </div>
  </div>
  <div class="payment_w">
    <!-- order 订单信息 -->
    <!-- order 订单信息 -->
    <div class="payment_order">
      <div class="payment_order_left">
        <h3 class="payment_order_title">
          请您及时付款，以便尽快使用我们的服务！ <span class="payment_font_red">订单号</span>：<span>{{billing.order_no}}</span>
        </h3>
        <p class="payment_orde_tips">
		  
          请您在提交订单后尽快完成支付，否则订单会自动取消。
		</p>
      </div>
      <div class="payment_order_right">
        <div class="payment_order_price">
          <em style="font-size:20px">应付金额</em><strong style="font-size:30px;color:red;margin-left:7px;margin-right:7px;">{{billing.amount}}</strong><em style="font-size:20px">{{billing.currency_code}}</em>
        </div>
        
      </div>
      <div class="payment_order_clr"></div>
            
      <div class="payment_order_list j_orderList" id="listPayOrderInfo" style="display: block;">
        <!-- 单笔订单 -->

        <div class="payment_order_list_info">
          <span class="payment_order_d" id="shdz">最大坐席数：{{billing.agent}}人</span>
          <span class="payment_order_d" id="shr">有效时长：{{billing.year*12}}个月</span>
        </div>
        <div class="payment_order_list_info">
          <span id="spmc">服务名称:PPMESSAGE在线客户通讯平台服务</span>
        </div>

        <!-- 单笔订单 end -->

      </div>
    </div>
    <!-- order 订单信息 end -->        <!-- order 订单信息 end -->
    <!-- payment 支付方式选择 -->
    <div class="payment">
      <div class="payment_choose">
        <div class="payment_font">
          <span class="payment_span">
            支付方式选择
          </span>
          <div style="float:right;width:20px;height:20px;"></div>
        </div>
        <hr class="payment_hr">
      </div>
      <div class="payment_notify">
        <span style="font-size:12px">
          付款方式的不同有可能导致具体金额有细微的不同,如有疑问请咨询客服.
        </span>
      </div>
      <div class="payment_list">
        <ul class="payment_wrap">
          <li class="payment_item">
            <!-- <div class="payment_item_cover">当前不可点击</div> -->
            <div class="payment_item_p">
              <form action="https://www.sandbox.paypal.com/cgi-bin/webscr" method="post">
                <input type="hidden" name="cmd" value="_xclick">
                <input type="hidden" name="business" value="dingguijin-facilitator@gmail.com">
                <input type="hidden" name="item_name" value="PPMessage">
                <input type="hidden" name="amount" value={{billing.amount}}>
                <input type="hidden" name="cancel_return" value="https://www.ppmessage.cn/portal/ajax_paypal_pay_return/">
                <input type="hidden" name="return" value="http://dazhi1992.6655.la/portal/ajax_paypal_pay_return/">
                <input type="hidden" name="cbt" value="return">
                <input type="hidden" name="display" value="www.ppmessage.cn">
                <input type="hidden" name="rm" value="2">
                <input type="hidden" name="custom" value={{billing.custom}}>
                <input type="hidden" name="invoice" value={{billing.order_no}}>
                <input type="hidden" name="currency_code" value={{billing.currency_code}}>
                <input type="image" src="/portal/static/yvertical/img/payment/paypal.png" class="payment_pay_logo" />
            </div>
          </li>
          <li class="payment_item">
            <div class="payment_item_p">
              <a href={{alipay_url}}>
                <img src="/portal/static/yvertical/img/payment/alipay.png" class="payment_pay_logo" />
              </a>
            </div>
          </li>
          <li class="payment_item">
            <div class="payment_item_p" ng-click="pwechat()">
              <img src="/portal/static/yvertical/img/payment/wechat.png" class="payment_pay_logo" />
            </div>
          </li>
        </ul>
      </div>
      <div class="payment_change">
        <a href="javascript:void(0);" class="payment_b_div" ng-click="rechoose_payment()">
          <div class="payment_b_ii">
            <div class="payment_back">
              <img src="/portal/static/yvertical/img/payment/backf.png" class="payment_b_icon">
            </div>
            <div class="payment_back_font">返回修改订单</div>
          </div>
        </a>
        <div class="payment_b_line">
          <hr>
          <p class="payment_footer">PPMessage友情提示：使用第三方支付工具请不要随意泄露密码</p>
        </div>
      </div>
    </div>
  </div>
</div>

