<style type="text/css">
	li:hover {
		background-color: #F0F0F0;
	}
	.TipWindow {
		position: relative;
		float: right;
		line-height: 22px;
	}
	.TipWindow:hover {
		cursor: pointer;
		text-decoration: underline;
	}
	.divType {
		position: absolute;
		top:23px;
		left: 1px;
		border: 1px solid #ccc;
		width: 200px;
		height: 110px;
		padding: 10px;
		background-color: white;
		border-radius: 5px;
		box-shadow: 3px 3px 3px #ccc;
		z-index: 2; 
	}
	#bg {
		position: fixed;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: black;
		z-index: 1000;
		opacity: 0.7;
		filter: alpha(opacity=70);
	}
	#waiting {
		position: absolute;
		width: 280px;
		height: 150px;
		margin: auto;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		color: #3174AE;
		text-align: center;
		vertical-align: center;
		z-index: 1001;
	}
	#load {
		position: absolute;
		height: 343px;
		top:0px;
		left: 0px;
		width: 100%;
		z-index: 800;
		background-color: black;
		opacity: 0.6;
		filter: alpha(opacity=60);
	}
	#load-info {
		position: absolute;
		margin: auto;
		top: 0;
		left: 0;
		bottom: 0;
		right: 0;
		width: 100px;
		height: 40px;
		z-index: 801;
		text-align: center;
		line-height: 8px;
	}
</style>
<div>
	<div class="container">
		<div class="panel panel-info">
			<div class="panel-heading">PPHelper	
				<span style="float:right;">遇到问题？<a href="#">联系客服</a></span>
			</div>
			<div class="panel-body">		
				<form class="form-horizontal" name="ppParams" novalidate ng-submit="sub()">
					<fieldset>
						<div>
							<legend>相关参数</legend>
						</div>
						<div class="form-group" style="height:40px;">
							<label for="ftphost" class="col-sm-3 control-label">FTP    Host:</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="ftphost" ng-maxlength="50" ng-model="pp.ftphost" required placeholder="请输入FTP地址（IP地址或虚拟主机）">
							</div>
							<div class="col-sm-3 alert alert-danger" style="padding-top:5px; padding-bottom:5px;" role="alert" ng-show="ppParams.ftphost.$invalid && ppParams.submitted">
								<strong>出错啦!</strong>
								请输入正确格式的参数
							</div>
						</div>
						<div class="form-group" style="height:40px;">
							<label for="ftpuser" class="col-sm-3 control-label">FTP    User:</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="ftpuser" ng-maxlength="20" ng-model="pp.ftpuser"
									required placeholder="请输入FTP用户名">
							</div>
							<div class="col-sm-3 alert alert-danger" style="padding-top:5px; padding-bottom:5px;" role="alert" ng-show="ppParams.ftpuser.$invalid && ppParams.submitted">
								<strong>出错啦!</strong>
								请输入正确格式的参数
							</div>
						</div>
						<div class="form-group" style="height:40px;">
							<label for="ftppwd" class="col-sm-3 control-label">FTP Password:</label>
							<div class="col-sm-5">
								<input type="password" class="form-control" name="ftppwd" ng-maxlength="20" ng-model="pp.ftppwd" required placeholder="请输入FTP密码">
							</div>
							<div class="col-sm-3 alert alert-danger" style="padding-top:5px; padding-bottom:5px;" role="alert" ng-show="ppParams.ftppwd.$invalid && ppParams.submitted">
								<strong>出错啦!</strong>
								请输入正确格式的参数
							</div>
						</div>
						<div class="form-group" style="height:40px;">
							<label for="ppkey" class="col-sm-3 control-label">PP     Key:</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="ppkey" ng-maxlength="40" ng-model="pp.ppkey"
									required placeholder="请输入PP Key">
							</div>
							<div class="col-sm-3 alert alert-danger" style="padding-top:5px; padding-bottom:5px;" role="alert" ng-show="ppParams.ppkey.$invalid && ppParams.submitted">
								<strong>出错啦!</strong>
								请输入正确格式的参数
							</div>
						</div>
						<div class="form-group" style="height:40px;">
							<label for="ppsecret" class="col-sm-3 control-label">PP     Secret:</label>
							<div class="col-sm-5">
								<input type="text" class="form-control" name="ppsecret" ng-maxlength="40" ng-model="pp.ppsecret" required placeholder="请输入PP Secret">
							</div>
							<div class="col-sm-3 alert alert-danger" style="padding-top:5px; padding-bottom:5px;" role="alert" ng-show="ppParams.ppsecret.$invalid && ppParams.submitted">
								<strong>出错啦!</strong>
								请输入正确格式的参数
							</div>
						</div>
						<div class="col-sm-offset-3 col-sm-5" style="padding-left:8px; padding-right:8px;">
<!-- 						<div id="alert-info" class="alert" ng-class="{'alert-info': info_show, 'alert-danger': danger_show, 'alert-warning': 	         					warning_show}" style="padding-top:5px; padding-bottom:5px;" ng-hide="alert_hide">
								
						</div>-->
							<div class="alert" ng-class="{'alert-info': info_show, 'alert-danger': danger_show, 'alert-warning': warning_show}" style="padding-top:5px; padding-bottom:5px;" ng-hide="alert_hide" ng-bind="alert_information">
							</div>
						</div>
						<div class="col-sm-offset-3 col-sm-2">
							<button type="submit" class="btn btn-lg btn-info" ng-disabled="sub_disabled">连接</button>
						</div>
						<div class="col-sm-2" >
							<button type="button" class="btn btn-lg btn-info" ng-click="cut()" ng-hide="cut_hide">断开</button>
						</div>
					</fieldset>
				</form>
			</div>
		</div>
		
		<div class="panel panel-info" ng-hide="autoInstall_hide">
			<div class="panel-heading">
				<strong>自动安装</strong>&nbsp;&nbsp; 系统会把您选中的文件夹或文件装上代码 &nbsp;&nbsp; 						
				<div class="TipWindow">
					<small ng-mouseover="support_show=true" ng-mouseleave="support_show=false">查看目前支持的文件类型</small>
					<div class="divType" ng-show="support_show">目前支持 .html, .htm, .shtml, .xhtml, .rhtml, .php, .jsp, .asp, .aspx, .tpl, .master等文件</div>
				</div>
				<div class="TipWindow">
					<small ng-mouseover="notice_show=true" ng-mouseleave="notice_show=false" style="margin-right:10px;">安装须知</small>
					<div class="divType" ng-show="notice_show">
						<p>
							<span>1. 安装期间请不要修改您的ftp账户密码.</span>
							<span>2. 安装前请您在本地备份文件</span>
						</p>
					</div>
				</div>
			</div>
			<div class="panel-body">
				<div>
					<ol class="breadcrumb" style="margin-bottom:3px;">
						<span>当前路径: &nbsp;</span>
						<span class="glyphicon glyphicon-folder-open" style="margin-right:5px;"></span>
						<span id="init-path">/</span>
<!-- 					<li ng-repeat="path in paths"></li>-->
						<li ng-repeat="path in paths" ng-bind="path"></li>
					</ol>	
				</div>
				<div>
					<div style="margin:3px 5px 3px 5px;">
						<input type="checkbox" ng-click="selectAll" ng-checked="selectall_checked">&nbsp;全选
						<a class="glyphicon glyphicon-level-up" href ng-click="back()" style="float:right;" ng-disabled="back_disabled">回到上一级</a>
					</div>

					<div>
						<div class="panel panel-default" style="margin-bottom:10px;">
							<div class="panel-heading">
								<div class="row">
									<p class="col-sm-8 col-sm-offset-1" style="margin-bottom:0px;">&nbsp;&nbsp;&nbsp;名称</p>
									<p class="col-sm-2" style="margin-bottom:0px; padding-left:0px;">&nbsp;类型</p>
								</div>
        					</div>
        					<div class="panel-body list-group" style="height:250px; overflow-y:auto; position:relative;" >  
        						<div id="load" ng-show="bg_load"></div>
        						<div id="load-info" class="alert alert-info" ng-show="tg_load">Loading...</div>        			
        						<li class="list-group-item row" ng-repeat="item in serverlist" ng-click="list_li_click($event, item)">
        							<div class="col-sm-1" ng-hide="item.isFile">
        								<input type="checkbox" role="input" ng-model="item.select" ng-click="pitch">&nbsp;&nbsp;<span class="glyphicon glyphicon-folder-open"></span>
        							</div>
        							<div class="col-sm-1" ng-hide="item.isDir">
        								<input type="checkbox" role="input" ng-model="item.select" ng-click="pitch">&nbsp;&nbsp;<span class="glyphicon glyphicon-file"></span>
        							</div>
        							<div class="col-sm-8">
<!--           								<span role="name"></span>-->
										<span role="name" ng-bind="item.name"></span>	
        							</div>
        							<div class="col-sm-2" ng-hide="item.isFile">
        								<span role="type">文件夹</span>
        							</div>
        							<div class="col-sm-2" ng-hide="item.isDir">
        								<span role="type">文件</span>
        							</div>
        						</li>
        					</div>
						</div>
						
					</div>
				</div>
				<button class="btn btn-info" ng-click="install();" ng-disabled="install_disabled">开始安装</button>
			</div>
		</div>
		</div>
		<div id="bg" ng-show="bg_show"></div>
		<div id="waiting" class="modal-dialog" ng-show="waiting_show">
			<div class="modal-content">
				<div class="modal-header" style="padding:0px; padding-top:5px;">
					<h4>正在安装</h4>
				</div>
				<div class="modal-body">
					<p>请等待，我们的后台正在为您安装中</p>
					<p>安装期间您可以关闭此页面</p>
				</div>
		</div>	
	</div>	
</div>