<div class="resetpassword settings">
  <div class="flash-message container" ng-if="should_show_changepassword_string()">
    <div ng-class="get_flash_style()">
      <span class="glyphicon glyphicon-remove flash-close" aria-hidden="true" ng-click="close_changepassword_string()"></span>
      {{get_changepassword_string()}}
    </div>
  </div>
  <div class="clearfix">
    <div class="auth-form">
      <form accept-charset="UTF-8" ng-submit="changepassword(password,confirm_password)">
        <div class="auth-form-header">
          <h1>修改密码</h1>
        </div>
        <div class="auth-form-body">
          <label for="password_field">新密码</label>
          <input autofocus="autofocus" tabindex="1" class="input-block" id="password_field" name="password" type="password" ng-model="password"/>
          <p>必须包含一个小写字母、一个数字，最少7个字符长度</p>
          <label for="confirmpass">再次确认</label>
          <input class="input-block" tabindex="2" id="confirmpassword" name="comfirmpassword" type="password" ng-model="confirm_password"/>
          <input name="commit" tabindex="3" type="submit" value="修改密码" class="btn"/>
        </div>
      </form>
    </div>
  </div>
</div>


