<div style="position:relative;">
  <div class="notification error" ng-if="should_show_error()"><span> {{ get_error_string() }} </span></div>
  <div class="signup_body">
    <div class="processor_bar">
      <ul class="ul">
        <li class="status choose">
          <h4 class="h4">
            1 {{ "signup.SIGNUP_TAG" | translate }}
          </h4>
        </li>
        <li class="status is">
          <h4 class="h4">
            2 {{ "signup.CREATE_TEAM_TAG" | translate }}
          </h4>
        </li>
        <li class="status us">
          <h4 class="h4">
            3 {{ "signup.START_TAG" | translate }}
          </h4>
        </li>
      </ul>
    </div>
    <div class="auth-form">
      <form accept-charset="UTF-8" ng-submit="signup(user)">
        <div class="auth-form-header">
          <h1>{{ "signup.SIGNUP_TAG" | translate }}</h1>
        </div>
        <div class="signup-form-body">
          <input ng-model="user.user_fullname" type="text" name="full_name" placeholder="{{ 'signup.FULLNAME_TAG' | translate }}" class="first-name half" style="width:100%;">
          <input ng-model="user.user_email" type="text" name="email" placeholder="{{ 'signup.LOGIN_NAME_TAG' | translate }}">
          <input ng-model="user.user_password" type="password" name="password" placeholder="{{ 'signup.LOGIN_PASSWORD_TAG' | translate }}">
          <input ng-model="user.user_password_repeat" type="password" name="password" placeholder="{{ 'signup.LOGIN_PASSWORD_REPEAT_TAG' | translate }}">
          <p>{{ "signup.AGREE_SERVICE_TEAM_TAG" | translate }} <a ui-sref="app.policy.termofservice" target="_blank">《{{ "signup.SERVICE_TEAM_TAG" | translate }}》</a>.</p>
          <button type="submit" class="btn-blue" >{{ "signup.SIGNUP_TAG" | translate }}</button>
          
        </div>
      </form>
      
    </div>
  </div>
</div>


