.main {
    color: #0e2026;
    position: relative;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    width: 1100px;
}

.main .nav {
    position: absolute;
    left: 0;
    top: 75px;
    bottom: 0;
    width: 270px;
    border-right: 1px solid #f7f9fa;
}

.main .nav > ul {
    display: block;
}

.main .nav h4,
.main .nav h5 {
    margin: 0;
    padding: 0;
}

.main .nav a {
    display: block;
    padding-left: 32px;
    text-decoration: none;
}

.main .nav a.active {
    background-color: #edf0f2;
}

.main .nav li>h4 {
    font-weight: bold;
}

.main .nav li>h4>a {
    line-height: 2;
}

.main .nav .sub {
    padding-left: 16px;
}

.main .nav .sub a {
    padding: 5px 0px 5px 32px;
}

.main .nav .toggler {
    display: none;
    background-color: #edf0f2;
    height: 36px;
    text-align: right;
    padding-right: 10px;
    padding-top: 10px;
    margin-bottom: 10px;
}

.main .doc {
    margin-left: 270px;
    min-height: 784px;
    padding: 0 15px;
    overflow: auto;
    position: relative;
    top: 75px;
    margin-bottom: 75px;
}

.main .doc img {
    max-width: 800px;
}

.main a {
    background: transparent;
    text-decoration: none;
    color: #0e2026;
}

.main ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main .non-pointer {
    cursor: default;
}

.main code {
    color: initial;
    border-radius: 4px;
    background-color: #eef2f4;
    padding: 0 2px;
    word-break: break-all;
    font-family: "Courier New", Courier, monospace;
}

.main pre code {
    background-color: initial;
}

@media (max-width:800px) {
    .main {
        width: 100%;
    }
    .main .nav {
        position: initial;
        margin-top: 75px;
        width: 100%;
    }
    .main .doc {
        margin-left: 0px;
        top: 0px;
        margin-bottom: 0px;
    }
    .main .doc img {
        max-width: 100%;
    }
    .main .nav .toggler {
        display: block;
    }
    .main .nav > ul {
        display: none;
    }
}

@media (max-width:480px) {
    .main {
        margin-top: 50px;
    }
    .main .nav {
        margin-top: 50px;
    }
}